* {
    padding: 0;
    margin: 0;
}

.box {
    width: 700px;
    margin: 0px auto;
    padding: 50px 5px 5px 5px;
}

.upload {
    text-align: center;
    background: #f2f2f2;
    position: relative;
    cursor: pointer;
}

.upload:hover {
    background: #111;
    color: #ffffff;
    cursor: pointer;
}

.upload input {
    opacity: 0;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
}

.submitButton {
    background-color: #f4d03f;
    font-weight: 600;
    font-size: 22.5px;
    color: #111;
}

.submitButton:hover {
    background-color: #111;
    cursor: pointer;
    color: #ffffff;
}