.body {
    padding: 0;
    margin: 0;
}

#grid-content {
    width: 80%;
    position: relative;
    margin-top: 2%;
}

#corverage {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
#alert-corverage{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-color: #2C7EEA;
}
