<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Login | Register</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/dmaku.css">
</head>

<body class="vsc-initialized">
<!--right-panel-active控制卡片的切换-->
<div class="dowebok" id="dowebok">
    <div class="form-container sign-up-container">
        <form action="/loginAndRegister/register" method="post">
            <h1>Register</h1>
            <input type="text" placeholder="nickname" name="nickname">
            <input type="email" placeholder="e-mail" name="mail">
            <input type="password" placeholder="password" name="password">
            <button>Register</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="/loginAndRegister/login" method="post">
            <h1>Login</h1>
            <input type="email" placeholder="email" name="mail">
            <input type="password" placeholder="password" name="password">
            <a href="/loginAndRegister/forgotPassword">Forgot your password？</a>
            <button>Login</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>You had account？</h1>
                <p>Login with your account,Please.</p>
                <button class="ghost" id="signIn">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>No account？</h1>
                <p>Let's join us!</p>
                <button class="ghost" id="signUp">Register</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/dmaku.js"></script>


<span style="margin: 0px auto; border: 2px dotted rgb(0, 0, 0); position: absolute; z-index: 2147483647; visibility: hidden; left: 1564px; width: 0px; top: 394px; height: 0px;"></span><span style="z-index: 2147483647; position: absolute; visibility: hidden; left: 1549px; width: 50px; top: 379px; height: 20px; font-size: 10px; color: black;"></span></body>

</html>