<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/waterFall.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/init.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js">
    </script>
    <meta charset="UTF-8">
    <title>FloatingTime</title>
    <script src="/js/modernizr.js"></script>
</head>

<body>
<!-- 这里放图片 -->
<div id="container-body">
    <div id="total-content">
        <div id="corverage"></div>
        <!-- 导航栏 -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="waterFall.html" class="navbar-brand">FloatingTime</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="text-center" href="/loginAndRegister">Login</a></li>
                        <li><a class="text-center" href="/loginAndRegister">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 瀑布内容 -->
        <div id="grid-content" class="container">
            <div class="grid-wrap">
                <ul class="grid swipe-down loaded" id="grid" style="position: relative; width: 1256px; height: 2623px;">
                    <li style="position: absolute; left: 0px; top: 0px;">
                        <a href="#/15944679/Kenpo-News-April-2014-issue"><img src="/img/1.jpg" alt="img01">
                            <h3>Kenpo News April 2014 issue</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 0px;">
                        <a href="#/15758125/SQUET-April-2014-issue"><img src="/img/2.jpg" alt="img02">
                            <h3>SQUET April 2014 issue</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 0px;">
                        <a href="#/15586227/MONOCLE-issue-72"><img src="/img/3.jpg" alt="img03">
                            <h3>MONOCLE issue 72</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 0px;">
                        <a href="#/11880495/TOWN-Winter-2013"><img src="/img/4.jpg" alt="img04">
                            <h3>TOWN Winter 2013</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 238px;">
                        <a href="#/11455333/Quarterly-Musashino-autumn-of-2013-issue"><img src="/img/5.jpg" alt="img05">
                            <h3>Quarterly Musashino autumn of 2013 issue</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 399px;">
                        <a href="#/12866129/MONOCLE-issue-69"><img src="/img/6.jpg" alt="img06">
                            <h3>MONOCLE issue 69</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 434px;">
                        <a href="#/16631085/Real-Simple-May-2014"><img src="/img/7.jpg" alt="img07">
                            <h3>Real Simple May 2014</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 435px;">
                        <a href="#/11727343/The-65th-Book-Week"><img src="/img/8.jpg" alt="img08">
                            <h3>The 65th Book Week</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 609px;">
                        <a href="#/16631085/Real-Simple-May-2014"><img src="/img/9.jpg" alt="img09">
                            <h3>Real Simple May 2014</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 656px;">
                        <a href="#/15566747/Quarterly-Musashino-spring-of-2014-issue"><img src="/img/10.jpg" alt="img10">
                            <h3>Quarterly Musashino spring of 2014 issue</h3>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 727px;">
                        <a href="#/11134427/MAJESTY-express-vol-01"><img src="/img/11.jpg" alt="img11" style="animation-delay: 242.22ms;">
                            <h3 style="animation-delay: 242.22ms;">MAJESTY express vol. 01</h3>
                            <div class="curtain" style="background: rgb(217, 204, 100) none repeat scroll 0% 0%; animation-delay: 242.22ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 869px;">
                        <a href="#/13329103/Shitamachi-Rocket"><img src="/img/12.jpg" alt="img12" style="animation-delay: 18.363ms;">
                            <h3 style="animation-delay: 18.363ms;">Shitamachi Rocket</h3>
                            <div class="curtain" style="background: rgb(60, 86, 111) none repeat scroll 0% 0%; animation-delay: 18.363ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 994px;">
                        <a href="#/13285315/Quarterly-Musashino-winter-of-2013-issue"><img src="/img/13.jpg" alt="img13" style="animation-delay: 28.4282ms;">
                            <h3 style="animation-delay: 28.4282ms;">Quarterly Musashino winter of 2013 issue</h3>
                            <div class="curtain" style="background: rgb(231, 57, 20) none repeat scroll 0% 0%; animation-delay: 28.4282ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 1027px;">
                        <a href="#/16541811/MAINICHI-CHUUGOKUGO-May-2014"><img src="/img/14.jpg" alt="img14" style="animation-delay: 191.097ms;">
                            <h3 style="animation-delay: 191.097ms;">MAINICHI CHUUGOKUGO April 2014</h3>
                            <div class="curtain" style="background: rgb(230, 230, 228) none repeat scroll 0% 0%; animation-delay: 191.097ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 1125px;">
                        <a href="#/15944679/Kenpo-News-April-2014-issue"><img src="/img/1.jpg" alt="img01" style="animation-delay: 20.605ms;">
                            <h3 style="animation-delay: 20.605ms;">Kenpo News April 2014 issue</h3>
                            <div class="curtain" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; animation-delay: 20.605ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 1267px;">
                        <a href="#/15758125/SQUET-April-2014-issue"><img src="/img/2.jpg" alt="img02" style="animation-delay: 139.666ms;">
                            <h3 style="animation-delay: 139.666ms;">SQUET April 2014 issue</h3>
                            <div class="curtain" style="background: rgb(236, 114, 125) none repeat scroll 0% 0%; animation-delay: 139.666ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 1306px;">
                        <a href="#/15586227/MONOCLE-issue-72"><img src="/img/3.jpg" alt="img03" style="animation-delay: 492.864ms;">
                            <h3 style="animation-delay: 492.864ms;">MONOCLE issue 72</h3>
                            <div class="curtain" style="background: rgb(5, 61, 118) none repeat scroll 0% 0%; animation-delay: 492.864ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 1365px;">
                        <a href="#/11880495/TOWN-Winter-2013"><img src="/img/4.jpg" alt="img04" style="animation-delay: 433.897ms;">
                            <h3 style="animation-delay: 433.897ms;">TOWN Winter 2013</h3>
                            <div class="curtain" style="background: rgb(246, 215, 73) none repeat scroll 0% 0%; animation-delay: 433.897ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 1524px;">
                        <a href="#/11455333/Quarterly-Musashino-autumn-of-2013-issue"><img src="/img/5.jpg" alt="img05" style="animation-delay: 116.509ms;">
                            <h3 style="animation-delay: 116.509ms;">Quarterly Musashino autumn of 2013 issue</h3>
                            <div class="curtain" style="background: rgb(250, 222, 0) none repeat scroll 0% 0%; animation-delay: 116.509ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 1544px;">
                        <a href="#/12866129/MONOCLE-issue-69"><img src="/img/6.jpg" alt="img06" style="animation-delay: 257.956ms;">
                            <h3 style="animation-delay: 257.956ms;">MONOCLE issue 69</h3>
                            <div class="curtain" style="background: rgb(231, 71, 47) none repeat scroll 0% 0%; animation-delay: 257.956ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 1702px;">
                        <a href="#/16631085/Real-Simple-May-2014"><img src="/img/7.jpg" alt="img07" style="animation-delay: 28.992ms;">
                            <h3 style="animation-delay: 28.992ms;">Real Simple May 2014</h3>
                            <div class="curtain" style="background: rgb(82, 160, 164) none repeat scroll 0% 0%; animation-delay: 28.992ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 1799px;">
                        <a href="#/11727343/The-65th-Book-Week"><img src="/img/8.jpg" alt="img08" style="animation-delay: 404.516ms;">
                            <h3 style="animation-delay: 404.516ms;">The 65th Book Week</h3>
                            <div class="curtain" style="background: rgb(192, 177, 22) none repeat scroll 0% 0%; animation-delay: 404.516ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 1801px;">
                        <a href="#/16631085/Real-Simple-May-2014"><img src="/img/9.jpg" alt="img09" style="animation-delay: 171.912ms;">
                            <h3 style="animation-delay: 171.912ms;">Real Simple May 2014</h3>
                            <div class="curtain" style="background: rgb(93, 155, 152) none repeat scroll 0% 0%; animation-delay: 171.912ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 1895px;">
                        <a href="#/15566747/Quarterly-Musashino-spring-of-2014-issue"><img src="/img/10.jpg" alt="img10" style="animation-delay: 85.7063ms;">
                            <h3 style="animation-delay: 85.7063ms;">Quarterly Musashino spring of 2014 issue</h3>
                            <div class="curtain" style="background: rgb(178, 66, 55) none repeat scroll 0% 0%; animation-delay: 85.7063ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 0px; top: 1995px;">
                        <a href="#/11134427/MAJESTY-express-vol-01"><img src="/img/11.jpg" alt="img11" style="animation-delay: 416.976ms;">
                            <h3 style="animation-delay: 416.976ms;">MAJESTY express vol. 01</h3>
                            <div class="curtain" style="background: rgb(217, 204, 100) none repeat scroll 0% 0%; animation-delay: 416.976ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 314px; top: 2186px;">
                        <a href="#/13329103/Shitamachi-Rocket"><img src="/img/12.jpg" alt="img12" style="animation-delay: 87.6074ms;">
                            <h3 style="animation-delay: 87.6074ms;">Shitamachi Rocket</h3>
                            <div class="curtain" style="background: rgb(60, 86, 111) none repeat scroll 0% 0%; animation-delay: 87.6074ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 628px; top: 2233px;">
                        <a href="#/13285315/Quarterly-Musashino-winter-of-2013-issue"><img src="/img/13.jpg" alt="img13" style="animation-delay: 112.401ms;">
                            <h3 style="animation-delay: 112.401ms;">Quarterly Musashino winter of 2013 issue</h3>
                            <div class="curtain" style="background: rgb(231, 57, 20) none repeat scroll 0% 0%; animation-delay: 112.401ms;"></div>
                        </a>
                    </li>
                    <li style="position: absolute; left: 942px; top: 2266px;">
                        <a href="#/16541811/MAINICHI-CHUUGOKUGO-May-2014"><img src="/img/14.jpg" alt="img14" style="animation-delay: 403.227ms;">
                            <h3 style="animation-delay: 403.227ms;">MAINICHI CHUUGOKUGO April 2014</h3>
                            <div class="curtain" style="background: rgb(230, 230, 228) none repeat scroll 0% 0%; animation-delay: 403.227ms;"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
<script src="/js/masonry.js"></script>
<script src="/js/imagesloaded.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/colorfinder-1.js"></script>
<script src="/js/gridScrollFx.js"></script>
<script src="/js/waterFall.js"></script>
<script>
    new GridScrollFx(document.getElementById('grid'), {

        viewportFactor: 0.4

    });
</script>

</html>