<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件配置 namespace指向接口-->
<mapper namespace="com.fsproject.floatlyshare.dao.IFavoriteMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fsproject.floatlyshare.bean.Favorite">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="article_id" property="articleId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id,article_id
    </sql>
    <select id="getFavoriteByUserIdAndArticleId" resultType="com.fsproject.floatlyshare.bean.Favorite">
        select
        <include refid="Base_Column_List"/>
        from
        favorite
        where
        user_id = #{userId} and article_id = #{articleId}
    </select>
    <select id="getArticlesByUserId" resultType="com.fsproject.floatlyshare.bean.Article">
        select
        a.*
        from
        favorite as f,article as a
        where
        f.user_id = #{userId} and a.id = f.article_id
    </select>
    <select id="getAllArticleByUserId" resultType="com.fsproject.floatlyshare.bean.Article">
        select
        a.*
        from
        article as a,user as u
        where
        u.id = #{id} and a.author = u.nickname
    </select>
    <delete id="deleteFavoriteByArticleId">
        delete
        from
        favorite
        where
        article_id = #{articleId} and user_id = #{userId}
    </delete>

</mapper>